// @import "compass/css3";
@import url("https://fonts.googleapis.com/css?family=Englebert");
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* Note styles */
.note-wrap {
    width: 300px;
    min-height: 300px;
    padding: 35px;
    position: relative;
    font-size: 24px;
    vertical-align: top;
    display: inline-block;
    font-family: Englebert, Arial;
    color: #4b453c;
    background: #f7e999;
    line-height: 34px;
    text-align: center;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    &:before {
        display: block;
        content: "";
        background: rgba(227, 200, 114, 0.4);
        width: 130px;
        height: 28px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        border-radius: 6px/18px 0;
        position: absolute;
        top: -13px;
        left: 80px;
        -webkit-transform: rotate(-2deg);
        -moz-transform: rotate(-2deg);
        -o-transform: rotate(-2deg);
        -ms-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }
}

.note-yellow {
    background: #f7e999;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
}
.note-blue {
    background: #b9dcf4;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg);
}
.note-pink {
    background: #ffbda3;
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    transform: rotate(1deg);
}
.note-green {
    background: #caf4b9;
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-1deg);
}
.wall-note-wrap {
    width: 500px;
    &:before {
        left: 180px;
    }
}
.note-yellow {
    background: #f7e999;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}
