.userCard {
  width: fit-content;
  padding: 2em 0;
  border-radius: 2em;
  border: black;
  border-width: 1em;
  margin-top: 1em;
}

.userProfile {
  /* padding: 20em; */
  width: 250px;
  height: 250px;
  background-image: url(./../../images/placeholder_avatar.png) !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 1em auto;
}

.username {
  font-size: 2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 1em;
  text-align: center;
}