.sectionGrid {
  
  width: 100%;
  min-height: 85vh;
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  " . profile profile . . . "
  " . profile profile session session . "
  " . profile profile session session . "
  " . . heatmap heatmap heatmap . "
  " . . heatmap heatmap heatmap . ";
}

.backgroundImage {
  height: 100%;
  width: 100%;
  background-image: url(./../../images/home.jpg) !important;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  z-index: -1;
}

.profile {

  grid-area: profile;
}

.heatmap {
  grid-area: heatmap;
}

.session {
  grid-area: session;
}

.blankSpace {
  grid-area: blank;
}