// .nameForm{
//     float:left;

// }
// .nameLabel{
//     float:left;
// }
.submit{
    margin: 10px;
}
.submitRow{
    align-items: center;
}
.instructions{
    text-align: left;
    padding: 10px;
}