@media all and (min-width: 480px) {
    body {
        background: rgba(0, 0, 0, 0.5);
        // background-image: url(./../../images/study2.jpg) !important;
    }
    .submit {
        margin: 10px;
    }
    .submitRow {
        align-items: center;
        margin: auto;
        position: ​absolute;
        left: 50%;
    }
    .instructions {
        text-align: left;
        padding: 10px;
    }
    .ctcf {
        background-image: url(./../../images/study2.jpg);
        background-size: cover;
        min-width: 100%;
        min-height: 100%;
    }
    .card-form {
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        background-color: rgba(0, 0, 0, 0.5);
        max-width: 80%;
        margin: auto;
        padding: 5rem;
    }
}
